.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.4;
  z-index: -1;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  font-weight: bolder;
  margin-top: 10vh;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  background-color: transparent;
  border: 2px solid black;
  transition: all 0.5s;
  border-radius: 1.25rem;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(61, 207, 61);
  transform: translateX(1rem);
}

.navbtn, .submit {
  color: white;
  transition: all 0.4s;
  margin: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  width: auto;
  border: 1.5px solid white;
  text-align: center;
  font-weight: 500;
  background-color: transparent;
}

.navbtn:hover {
  color: black;
  background-color: rgb(255, 235, 205);
  transform: scale(1.1);
}

.carousel-item img {
  height: 85.6vh;
  opacity: 0.4;
}

.info {
  padding: 2vw;
  transition: transform 0.5s;
  text-align: center;
}

.info img {
  width: 8rem;
  height: 10rem;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1.5px solid white;
  outline: 1.5px solid black;
}

.info:hover {
  transform: translateY(-1rem);
}

.places img {
  padding: 2%;
  width: 40vw;
}

.place1, .place2 {
  background-color: lightyellow;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.place2 {
  background-color: lightsteelblue;
  flex-direction: row-reverse;
}

.submit {
  color: black;
}

.submit:hover {
  color: rgb(255, 235, 205);
  background-color: black;
  transform: scale(1.2);
}

.white:hover {
  color: white;
}

.yellow:hover {
  color: lightyellow;
  transform: scale(1.1);
}

.purple:hover {
  color: lightsteelblue;
  transform: scale(1.1);
}

.exp img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1.5px solid white;
  outline: 1.5px solid black;
}

.logos {
  transition: all 0.4s;
  opacity: 0.5;
  width: 10rem;
  height: 6rem;
}

.logos:hover {
  transform: translateY(-0.3rem);
  opacity: 1;
}

.fa {
  padding: 0.625rem;
  margin: 0.25rem;
  border-radius: 50%;
  width: 2.25rem;
}

.fa-star {
  padding: 0.25rem;
  width: auto;
}

.fa-footer {
  color: white;
}

.fa-footer:hover {
  filter: brightness(1.2);
}

.login {
  margin: auto;
  margin-top: 5vh;
  background-color: rgba(255, 235, 205, 0.5);
  border-radius: 0.5rem;
  text-align: center;
  display: inline-block;
  padding: 5vh 4vw;
  border: 2px solid black;
}

.input-box {
  border-bottom: 1px solid black;
  margin: 1.5rem 2.4rem;
}

.input-box input {
  font-weight: 500;
  width: 78.6%;
  border: none;
  background: transparent;
  outline: none;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
}

@media only screen and (max-width: 767px) {
  .carousel-item img {
    height: 60vh;
  }

  .place1, .place2 {
    flex-direction: column;
  }

  .places img {
    width: 60vw;
  }

  .pcontent {
    text-align: center;
  }

  @media screen and (min-width: 410px) {
    .container {
      padding: 0 10vw;
    }
  }

}

@media screen and (max-width: 500px) {
  h6 {
    font-size: 0.9rem;
  }

  .carousel-item img {
    height: 40vh;
  }

  .carousel-caption h5 {
    display: none;
  }
}