video {
  position: fixed;
  width: 100%;
  opacity: 0.4;
  z-index: -1;
}

.navbtn {
  color: white;
  transition: all 0.4s;
  margin: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  width: auto;
  border: 1.5px solid white;
  text-align: center;
  font-weight: 500;
  background-color: transparent;
}

.navbtn:hover {
  color: white;
  background-color: rgb(61, 207, 61);
  transform: scale(1.1);
}

.button {
  font-weight: bolder;
  margin-top: 10vh;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  background-color: transparent;
  border: 2px solid black;
  transition: all 0.5s;
  border-radius: 1.25rem;
}

.button a {
  text-decoration: none;
  color: black;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(61, 207, 61);
  transform: translateX(1rem);
}


.login {
  margin: auto;
  margin-top: 5vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  text-align: center;
  display: inline-block;
  padding: 5vh 4vw;
  color: white;
}


.input-box {
  border-bottom: 1px solid white;
  margin: 1.5rem 2.5rem;
}

.input-box input {
  width: 75%;
  border: none;
  background: transparent;
  color: white;
  outline: none;
}

.input-box input::placeholder {
  color: white;
}

.fa {
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 50%;
}

.fa:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 1200px) {
  video {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 900px) {
  video {
    right: -25%;
  }
}

@media screen and (min-width: 410px) and (max-width: 575px) {
  .container {
    padding: 0 10vw;
  }
}

@media screen and (max-width: 500px) {
  h6 {
    font-size: 0.9rem;
  }
}